@import "./jquery-ui.css";
@import "./bootstrap.css";
@import "./all.css";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600;700&display=swap");
@import "./ABCs.css";
@import "./Numbers.css";
@import "./colors.css";
@import "./allgames.css";

*,
::after,
::before {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

body {
  font-size: 1.6rem;
  font-family: "Baloo Paaji 2", cursive;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
}
$logo: #ffaa00;
$logo2: #f7f0f6;
$logo3: #ffe69c;
$navPrimary: #12cca8;
$navSecond: #089478;
$fourthColor: #01b2e4;
$lightGrey: #91b3b7;

$textColor: #fff;
$backgroundColorPrimary: #333;
$colorPrimary: #fff;
$buttonPrimary: #9f87ff;
$buttonSecond: #a05cf7;
$fifthColor: #ea3292;
$subjectBG: #99dd17;
$secondWhite: #f4f4f4;
$marginBlockVal: 40px;
$grey: #c1c1c1;

//KidZone start//

header {
  .bigSearchBtn:active {
    background-color: $colorPrimary !important;
  }
  // min-width: 320px;
  // max-width: 100%;

  overflow-x: clip; // dangerous !!! need to remember
  font-size: 1.4rem;

  .loginBtn {
    border: none;
    &:active {
    }
  }

  .navbar {
    a,
    button {
      color: $textColor !important;
      text-shadow: 0 0.1rem 0.1rem rgba(77, 77, 77, 0.5);
      font-size: 1em;
      font-weight: 600;
      line-height: 1.4;
    }

    font-size: 1em;
    font-weight: 600;
    background-color: $navPrimary;
    color: $textColor !important;
    text-shadow: 0 0.1rem 0.1rem rgba(77, 77, 77, 0.5);
    a.navbar-brand {
      padding: 5px;
      margin: 0;
      background-color: #ffe69c;
      box-sizing: border-box;
      min-width: 100px;
      height: 40px;
      background-image: url(../images/HomePage/Logo02.png);
      /* background-position: 46% 49%; */
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .navSmall {
      white-space: nowrap;

      & > * {
        padding-inline: 10px;
      }
      div.dropdown {
        width: min-content;
        a[role="button"] {
          display: inline-block !important;
          font-size: 1em;
          padding-inline: 0.9em;
          padding-block: 0.4em;
          background-color: $navPrimary;
          color: $textColor;
          line-height: 1.4 !important;
          border-radius: 30px;
          border: 1px #12cca8;
          box-sizing: border-box;
          svg {
            line-height: 1 !important;
          }
        }
        a.show {
          color: $navPrimary !important;
          background-color: $textColor;
        }
        .dropdown-menu {
          border-radius: 0;
          border-image: none;
          border: none;
          font-size: inherit;
          width: 100vw;
          top: 100%;
          left: -0%;
          border: none;
          height: 0px !important;
          overflow-y: hidden;
          transition: height 0.3s ease !important;
          display: block !important; // required to make dropdown transitionable
          > *:nth-child(odd) {
            background-color: $navSecond;
          }
          > *:nth-child(even) {
            background-color: $navPrimary;
          }
          > * > a {
            background-color: inherit !important;
            padding-block: 1rem;
            line-height: 1;
            text-align: center;
          }
        }
        .show.dropdown-menu {
          height: 136px !important;
        }
        a {
          &::after {
            display: none;
          }
        }
      }
      div.searchBoxSmall {
        p > button {
          border-radius: 30px;
          border: 1px $navPrimary;
          padding-inline: 0.9em;
          padding-block: 0.4em;
        }

        p > button.btn[aria-expanded="false"] {
          background-color: $navPrimary !important;
          color: $colorPrimary;
          text-shadow: 0 0.1rem 0.1rem rgba(77, 77, 77, 0.5);
        }
        p > button.btn[aria-expanded="true"] {
          color: $navPrimary !important;
          background-color: $colorPrimary !important;
          text-shadow: none;
        }
        form {
          background-color: $colorPrimary;
          align-items: center;
          z-index: 2;
          button {
            background-color: initial !important;
            background-color: $colorPrimary !important;
            width: 40px;
            height: 100%;
          }
          input {
            outline: none;
            flex-grow: 1;
          }
          svg {
            color: $buttonPrimary;
          }
        }
      }
    }
    .navBig {
      li {
        padding-inline: 1rem;
      }
      input,
      button {
        outline: none;
        background-color: $colorPrimary;
        border: none;
        border-radius: 0;
        font-size: 1em;
        box-sizing: border-box;
        padding-block: 17px;
        box-shadow: none;
        text-shadow: none;
        &.loginBtn {
          background: unset;
        }
      }
      input {
        width: 20vw;
      }
      svg {
        color: $buttonPrimary;
        font-size: 1.2em;
      }
    }
  }
}

#hero {
  background-image: url(../images/HomePage/#heroBG.png);
  background-repeat: repeat;
  .one {
    box-sizing: border-box;
    background-size: auto;
    // background-attachment: fixed;

    div.container-fluid.one {
      div.row {
        line-height: 0;
        a {
          display: inline-block;
          width: 52px;
          height: 52px;
          background: transparent;
          margin: 5px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        a.sun {
          background-image: url(../images/HomePage/sun.webp);
        }
        a.pink {
          background-image: url(../images/HomePage/planetPink.webp);
        }
        a.yellow {
          background-image: url(../images/HomePage/planetYellow.webp);
        }
        a.red {
          background-image: url(../images/HomePage/planetRed.webp);
        }
        a.blue {
          background-image: url(../images/HomePage/planetBlue.webp);
        }
        a.green {
          background-image: url(../images/HomePage/planetGreen.webp);
        }
        a.magenta {
          background-image: url(../images/HomePage/planetMagenta.webp);
        }
        a.orange {
          background-image: url(../images/HomePage/planetOrange.webp);
        }
        a.cyan {
          background-image: url(../images/HomePage/planetCyan.webp);
        }
        a.printables-planet {
          background-image: url(../images/HomePage/planetWhite.webp);
          span {
            line-height: 1.4;
            font-size: 0.45em;
            font-weight: 800;
            color: $backgroundColorPrimary;
          }
        }
      }
    }
  }
  .slider {
    color: $colorPrimary !important;
    line-height: 1.1;
    .list-title {
      font-size: 1.3em;
      font-weight: 800;
      padding-block: 0.9em;
    }
    // .owl-stage {
    // }
    .item {
      height: 190px !important;
      width: 130px !important;
      border-radius: 8px;
      padding: 2px;
      margin-right: 10px;
    }
    img {
      border-radius: 8px;
      display: block;
    }

    .minibanner-label-type {
      position: absolute;
      bottom: 2%;
      right: 10%;
      width: 20px;
      height: 20px;
    }

    .mblt-text {
      padding-top: 0.3em;
      font-weight: 600;
      height: 2.5em;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .minibanner-label-grades {
      font-size: 0.8em;
      font-weight: 200;
      padding-block: 0.4em;
    }
    .minibanner-label {
      padding-inline: 0.3em;
    }
  }
  .grammars {
    .item {
      background-color: $navPrimary;
    }
  }
  .schools {
    .item {
      background-color: $navPrimary;
    }
  }
  .animals {
    .item {
      background-color: $logo;
    }
  }
  .addUps {
    .item {
      background-color: $navPrimary;
    }
  }
  .bits {
    .item {
      background-color: $navPrimary;
    }
  }
  .subjects {
    .item {
      background-color: $subjectBG;
      height: 170px !important;
    }
  }
  .genre {
    .item {
      background-color: $buttonSecond;
      height: 170px !important;
    }
  }
}
//

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: fixed;
  top: 40%;
  left: calc(50% - 24px);
  z-index: 9999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.owl-carousel {
  /* Custom styles for the navigation buttons */
  .owl-nav {
    button {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: $colorPrimary !important;
      span {
        font-size: 2em;
        color: #ffaa00;
        line-height: 0;
      }
      &.owl-next {
        color: #fff;
        border: none;
        border-radius: 50px 2px 2px 50px;
        padding: 5px 4px !important;
        right: 0%;
        span {
        }
      }

      &.owl-prev {
        color: #fff;
        border: none;
        padding: 5px 4px !important;
        border-radius: 2px 50px 50px 2px;
        // display: none;

        left: 0%;
        span {
        }
      }
      &.btnHide {
        display: none;
      }
      &.btnShow {
        display: flex;
      }
    }
  }
}

.curtain-loading {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  opacity: 1;
  background-color: #f3f3f3f5;
}

#Contact {
  .mapContainer {
    padding-top: 3rem !important;
    padding-bottom: 0rem !important;
  }
  #Address {
    background-color: $secondWhite;
  }
  background-color: white;
  .mapAddress {
    padding-block: 2rem;
    // background-color: $secondWhite;
    &::after {
      content: "";
      display: block;
      z-index: -1;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: grey;
    }
  }
  .contactTittle {
    color: $lightGrey;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0;
    text-align: center;
    padding-bottom: 2rem;
  }
  .successContainer {
    width: 100px;
    height: 100px;
    margin: auto;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .dirBlock {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    i,
    svg {
      font-size: 2em;
      color: $fourthColor;
      border: 1px solid $logo;
      padding: 10px;
      border-radius: 50%;
      border-color: $lightGrey;
    }
  }
  .LogoText {
    border-radius: 10px;
    color: white;
    background-color: rgb(18, 204, 168);
  }
  .social {
    vertical-align: center;
    i,
    svg {
      display: inline-block;
      width: 30px;
      height: 30px;
      padding-right: 15px;
      &.fa-youtube {
        color: #ff0000;
      }
      &.fa-facebook {
        color: #0c87ee;
      }
    }
  }
  #map,
  .Address {
    height: 230px;
    font-size: 1.1em;
    position: relative;
    // transition: all 0.5s ease-out;
  }
  .Address {
    height: auto;
  }
  .logo {
    background-image: url(../images/HomePage/logo02.png);
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    width: 170px;
  }
  .contactUsHead,
  .addressHead {
    font-size: 1.5em;
    // margin: auto;
    padding: 0.3em 1em;
    // background-color: $logo;
    border-radius: 10px;
    color: $colorPrimary;
  }
  .contactUsHead {
    color: $backgroundColorPrimary;
    font-size: 2em;
  }
  .submitBtn {
    background-color: $fourthColor;
    opacity: 0.8;
    color: $colorPrimary;
    &:hover {
      background-color: $fourthColor;
      opacity: 1;
    }
  }
  .name {
    font-weight: bold;
  }
  .helper {
    color: $grey;
    font-size: 0.85em;
  }
  .circle:checked {
    background-color: $fourthColor;
    border-color: $fourthColor;
  }
  .Address {
    margin: 0;
    padding: 0;
    .phone,
    .Email,
    .social {
      flex-shrink: 1;
      min-width: 180px;
    }
    .map-button {
      cursor: pointer !important;
      flex-wrap: nowrap;

      .addBlock {
        flex-shrink: 1;
        min-width: 180px;
        white-space: nowrap;
        overflow-x: hidden;
        .address {
          // -webkit-box-orient: vertical;
          // -webkit-line-clamp: 1;
          // display: -webkit-box;
          // flex: 0 0 auto;
          // font-weight: 400;
          // max-height: 2.3em;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // white-space: normal;
        }
      }
    }
  }

  div.containerParent.eight {
    font-size: 1em;
    margin-block: 0px;
    // max-width: 800px;
    margin-inline: auto;

    button[type="submit"] {
      font-size: 1em !important;
      width: fit-content !important;
      padding: 5px 10px;
    }
    div.container.eight {
      div.row.form {
        input,
        textarea {
          width: 100%;
          margin-bottom: 20px;
          padding: 10px;
        }
      }
      p.userInfo {
        padding: 30px !important;
        // font-size: 1.4em;
      }
    }
    button.sendMess {
      background-color: $colorPrimary !important;
      color: $buttonPrimary !important;
      border: 1px solid $buttonPrimary !important;
      font-size: 1em !important;
      display: block;
      margin-inline: auto;
      &:hover {
        color: $colorPrimary !important;
        background-color: $buttonPrimary !important;
      }
    }
  }

  form {
    .title {
      margin-top: 20px !important;
    }
  }
}

#faq {
  .general {
    padding: 0;
    a {
      padding: 0.5em 1em;
    }
  }
  button {
    font-size: 1.5rem;
  }
  --darkblue-color: #3581a3;
  --darkgreen-color: #00a39b;
  --linegreen: #8fc900;
  --yellow: #f2ca06;
  --orange: #f78c19;
  background-color: white;
  a {
    text-decoration: none;
    color: inherit !important;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
  }
  // div {
  //   display: block;
  // }
  li,
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }

  .container {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    width: 100%;
  }

  h1 {
    color: $lightGrey;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0;
    text-align: center;
  }

  .wrapper.padded:nth-of-type(2n) {
    background-color: #f4f4f4;
  }

  .wrapper.padded {
    padding: 2rem 1rem;
  }

  .wrapper {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
  }

  .content-search-form {
    box-sizing: border-box;
    display: block;
    line-height: 1;
    margin: 0 auto 2rem;
    overflow: visible;
    padding: 0 0.625rem;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .faq .content-search-form input:not([type="submit"]):not([type="radio"]) {
    border-color: $lightGrey;
  }

  .content-search-form input:not([type="submit"]):not([type="radio"]) {
    border: 0.15rem solid #fa0;
    border-radius: 3rem;
    padding-left: 1rem;
    padding-right: 2.75rem;
  }

  .select,
  input:not([type="submit"]):not([type="button"]):not([type="radio"]),
  textarea {
    background: #fff;
    border: 1px solid $lightGrey;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0.625rem;
    width: 100%;
  }

  .search-submit {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: -3rem;
  }

  .search-suggestions-container {
    background-color: #fff;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(77, 77, 77, 0.2);
    display: block;
    left: 1.5rem;
    max-height: 12rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: calc(100% - 3rem);
    z-index: 11;
  }

  .suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .search-submit svg {
    height: 1.1875rem;
    width: 1.1875rem;
  }

  .pt-nav {
    display: flex;
    flex-flow: column;
    justify-content: center;
    overflow: hidden;
  }

  .pt-nav button {
    margin: 0.25rem;
    color: #fff;
    min-width: 9.75rem;
  }

  .faq .pt-nav .button-flat-color {
    font-size: 1rem;
  }

  .pt-nav button:nth-child(1) {
    background-color: var(--darkblue-color);
  }

  .pt-nav button:nth-child(2) {
    background-color: var(--darkgreen-color);
  }

  .pt-nav button:nth-child(3) {
    background-color: var(--linegreen);
  }

  .pt-nav button:nth-child(4) {
    background-color: var(--yellow);
  }

  .pt-nav button:nth-child(5) {
    background-color: var(--orange);
  }

  .wrapper,
  .padded {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .wrapper.padded:nth-of-type(2n) {
    background-color: #f4f4f4;
  }

  .wrapper.odd {
    background-color: #fff !important;
  }

  .toggle-section-header-text {
    padding: 1.5rem;
  }

  .toggle-section-header-text {
    color: #38352f;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1em;
    padding: 1rem;
    text-align: left;
    text-transform: capitalize;
  }

  .accordion-item {
    border: none !important;
    padding: 0 !important;
  }

  .accordion-body {
    background-color: #f4f4f4;
    padding: 2em 5em;
  }
  #button_1.active {
    background-color: var(--darkblue-color);
    color: #fff;
  }

  .generalBtn.collapsed {
    background-color: var(--darkblue-color) !important;
    color: #ffffff !important;
  }

  .generalBtn,
  .technicalBtn,
  .subscriptionBtn,
  .toolsBtn,
  .appsBtn {
    background-color: unset;
  }

  .subscriptionBtn.collapsed {
    background-color: var(--darkgreen-color);
    color: #fff !important;
  }

  .technicalBtn.collapsed {
    background-color: var(--linegreen);
    color: #fff !important;
  }

  .toolsBtn.collapsed {
    background-color: var(--yellow);
    color: white !important;
  }

  .appsBtn.collapsed {
    background-color: var(--orange);
    color: #fff !important;
  }

  .btn-general:hover {
    background-color: #296081 !important;
    color: #fff !important;
  }

  .btn-supscription:hover {
    background-color: #009388 !important;
    color: #fff !important;
  }

  .btn-technical:hover {
    background-color: #80b900 !important;
    color: #fff !important;
  }

  .btn-tools:hover {
    background-color: #f1b300 !important;
    color: #fff !important;
  }

  .btn-apps:hover {
    background-color: #f17c17 !important;
    color: #fff !important;
  }
  .accordion-button::after {
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'><path d='M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/></svg>");
    filter: invert(1);
  }
}

#commonCore {
  background-color: #ffffff;
  background-image: none;
  h1 {
    display: block;
    color: #91b3b7;
    font-size: 2rem;
    font-weight: 300 !important;
    line-height: 1em;
    margin: 0 0 2rem;
    text-align: center;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  h2 {
    display: block;
    color: #38352f;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 1em;
    padding: 0;
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  div {
    // display: block;
  }
  .head-title {
    padding: 2rem 1rem;
  }
  .standards h1 {
    color: #8fc900;
    margin-bottom: 1rem;
  }
  .standards h2 {
    color: #91b3b7;
    font-weight: 300;
    margin-bottom: 0;
  }
  .menu {
    padding: 2rem 1rem;
    background-color: #f4f4f4 !important;
  }
  .caption {
    text-align: center;
    color: #00a39b;
    margin-bottom: 0.5rem;
  }
  .menu-select {
    text-align: center;
    /* padding: 2rem 1rem; */
  }

  .pt-standards:hover {
    color: #fff;
  }
  .button-flat-color:not([disabled]).active.pt-standards {
    background-color: #8fc900 !important;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem;
  }
  .button-flat-color.pt-standards {
    text-decoration: none;
    background-color: #8fc900;
    border-color: #8fc900;
    font-size: 1.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .button-flat-color.uppercase {
    text-transform: uppercase;
    border-color: #8fc900;
  }
  .menu-select a,
  .menu-select button {
    margin: 0 1rem 0 1rem;
    vertical-align: middle;
  }
  .button-flat-color {
    border-radius: 0.4375rem;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-weight: 300 !important;
    padding: 0.625rem;
    position: relative;
    vertical-align: top;
    width: 12.875rem;
    font-size: 1.3125rem;
    min-height: 3.6rem;
  }
  .button-flat-color:not([disabled]).active:before {
    height: 1rem;
    width: 2rem;
  }
  .standards-search-wrapper.padded {
    padding-top: 0;
    padding: 1rem;
  }
  .button-flat-color:not([disabled]).active.pt-standards:before {
    background-image: url(/client/assets/buttonActiveTrianglePtLightGreen-4ec5d89….svg);
  }
  .standards-search-wrapper .content-search-form {
    margin-bottom: 0;
  }

  .content-search-form {
    box-sizing: border-box;
    display: block;
    line-height: 1;
    margin: 0 auto 2rem;
    overflow: visible;
    position: relative;
    text-align: center;
  }
  .visible.categoryprintables,
  .visible.printables,
  .visible.printablesnav,
  .wrapper.visible {
    overflow: visible;
  }
  .standards-search-wrapper
    .content-search-form
    input:not([type="submit"]):not([type="radio"]) {
    border-color: #91b3b7;
  }
  .content-search-form input:not([type="submit"]):not([type="radio"]) {
    border: 0.25rem solid #fa0;
    border-radius: 3rem;
    padding-left: 1rem;
    padding-right: 2.75rem;
    padding: 0.625rem;
  }
  .wrapper-padded-even {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
  }
  .select,
  input:not([type="submit"]):not([type="button"]):not([type="radio"]),
  textarea {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #91b3b7;
    border-radius: 5rem;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0.625rem;
    width: 100%;
  }
  .standards-search-wrapper .content-search-form .search-clear,
  .standards-search-wrapper .content-search-form .search-submit {
    color: #99dd17;
  }
  .content-search-form .search-submit {
    right: 6px;
    top: 0;
    height: 100%;
  }
  .content-search-form .search-clear,
  .content-search-form .search-submit {
    width: 2.25rem;
  }
  .search-clear,
  .search-submit {
    align-content: center;
    align-items: center;
    background: transparent;
    box-sizing: border-box;
    display: flex;
    height: calc(100% - 0.25rem);
    justify-content: center;
    position: absolute;
    top: -4px;
    border: none;
  }
  .toggle-title {
    background-color: #00a39b;
    border-color: #fff;
    border-style: solid;
    border-width: 1px 0;
    color: #fff;
    cursor: pointer;
    margin-bottom: -1px;
  }
  .toggle-title.child {
    background-color: #30b067;
  }
  .toggle-title-container {
    align-items: center;
    display: flex;
    padding: 1em;
    margin: 0;
  }
  .accordion-body {
    padding: 0;
  }
  .accordion-button {
    background-color: #00a39b !important;
    border-color: #fff !important;
    border-style: solid;
    border-width: 1px 0;
    color: #fff !important;
    cursor: pointer;
    margin-bottom: -1px;
  }
  .standards-content,
  .standards-content .minibanner {
    background-color: rgb(255, 255, 255);
    border: none;
    margin: 1.125rem 0.5rem;
    width: 11.11rem;
  }
  .standards-content,
  .standards-standard-content {
    box-sizing: border-box;
    padding-bottom: 1rem;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .container {
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 1920px;
    position: relative;
    width: 100%;
  }
  .minibanner {
    border-radius: 0.625rem;
    cursor: pointer;
    display: inline-block;
    flex: 0 0 auto;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    width: 11.11rem;
    margin: 1.125rem 0.5rem;
  }
  .standards-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    white-space: normal;
  }
  .standards-content .minibanner-art {
    background-color: rgb(153, 221, 23);
    border: 0.125rem solid rgb(153, 221, 23);
    height: 11.11rem;
    width: 11.11rem;
  }
  .minibanner-art {
    border-radius: 0.625rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    user-select: none;
    background-color: #99dd17;
    border: 0.125rem solid #99dd17;
  }
  .minibanner-art .webp-image {
    display: inline-block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    /*transform: translateY(-50%);
    top: 50%;*/
    width: auto;
  }
  .standards-content .minibanner-label {
    color: #38352f;
  }
  .minibanner-label {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    height: 4.5rem;
    padding: 0.5rem 0.3rem 0.2rem;
    text-align: left;
  }
  .minibanner-label-title {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
  }
  .minibanner-label-title .mblt-text {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    flex: 0 0 auto;
    font-weight: 700;
    line-height: 1.2em;
    max-height: 2.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .minibanner-label-grades-type {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
  }
  .minibanner-label-grades {
    flex: 1 1 auto;
    font-size: 0.875rem;
  }
  .minibanner-badge-container {
    align-items: center;
    display: flex;
    left: -0.125rem;
    position: absolute;
    top: -1.125rem;
  }
  .minibanner.mb-no-icon .minibanner-label-type {
    display: none;
  }
  .minibanner-label-type {
    flex: 0 0 auto;
    height: 1.333rem;
    width: 1.333rem;
  }
  .standards-content .minibanner.mb-portrait .minibanner-art {
    height: 14.60965rem;
  }
  .minibanner.mb-portrait .webp-image {
    max-height: 14.2809rem;
  }
  .minibanner .premiumbadge {
    border-radius: 1.125rem;
    height: 2.25rem;
    position: relative;
    width: 2.25rem;
  }
}

#parentTeacher {
  /* Parent_and_teacher */
  .partea {
    -webkit-text-size-adjust: 100%;
    font-size: 18.5px;
    --scrollbar-width: 21px;
    color: #000;
    font-family: montserrat, montserrat_fallback, sans-serif;
    text-rendering: optimizeLegibility !important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
  }

  .partea_wrapper {
    max-width: 100%;
    min-width: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
    padding: 2rem 1rem;
    background-color: #fff;
  }

  .partea_wrapper_con {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    width: 100%;
  }

  .partea_wrapper_con h1 {
    --scrollbar-width: 21px;
    color: #91b3b7;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 2rem;
    text-align: center;
    font-size: 4rem;
  }

  .partea_button_choice {
    --scrollbar-width: 21px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .partea_buttonx5 {
    --scrollbar-width: 21px;
    font: inherit;
    overflow: visible;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.4375rem;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-weight: 300;
    padding: 0.4rem 0.625rem;
    position: relative;
    vertical-align: top;
    width: 12.875rem;
    font-size: 1.3125rem;
    min-height: 3.6rem;
    appearance: none;
    text-transform: uppercase;
    margin: 0 0.5rem 0.5rem 0;
    border-color: #000000;
  }

  .button_choicee {
    --scrollbar-width: 21px;
    display: flex;
    flex-flow: row;
    margin-top: 0;
  }

  .partea_buttonx3 {
    --scrollbar-width: 21px;
    font: inherit;
    overflow: visible;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.4375rem;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-weight: 300;
    padding: 0.4rem 0.625rem;
    position: relative;
    vertical-align: top;
    width: 12.875rem;
    font-size: 1.3125rem;
    min-height: 3.6rem;
    appearance: none;
    text-transform: uppercase;
    margin: 0 0.5rem 0.5rem 0;
  }

  .partea_wrapper_blog {
    max-width: 100%;
    min-width: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
    padding: 2rem 1rem;
    background-color: #f4f4f4 !important;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 1.5rem;
  }

  .partea_wrapper_blog h2 {
    --scrollbar-width: 21px;
    color: #38352f;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 1em;
    padding: 0;
    text-align: center;
    font-size: 1.75rem;
    padding-right: 1.5rem;
  }

  .partea_wrapper_blog1 {
    flex: 0 0 auto;
    text-align: center;
    width: 100%;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
  }

  .partea_wrapper_blog2 {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 48.75rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partea_wrapper_blog1 button {
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-weight: 300;
    position: relative;
    appearance: none;
    border-radius: 2em;
    background-color: #00a39b;
    border-color: #00a39b;
    font-size: 1rem;
    height: auto;
    min-height: 0;
    padding: 0.4rem 1rem;
    vertical-align: baseline;
    width: auto;
    min-width: 11rem;
  }

  .partea_wrapper_blog1 svg {
    text-transform: none;
    cursor: pointer;
    outline: none;
    max-width: 100%;
    display: inline-block;
    height: 1.1em;
    margin: 0 0 0 0.5em;
    padding: 0;
    vertical-align: top;
    width: 0.74375em;
    overflow: hidden;
  }

  .blog_mini {
    --scrollbar-width: 21px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #00a39b;
    color: #000;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    font-size: 0.875rem;
    text-decoration: none;
    margin: 0 1.5rem 1.5rem 0;
    height: 20.75rem;
    width: calc(33% - 1.5rem);
  }

  .blog_mini_img {
    background-position: 50%;
    background-size: cover;
    flex: 0 0 auto;
    overflow: hidden;
    width: 100%;
    height: 43%;
  }

  .blog_mini_img picture {
  }

  .pweb_img {
    max-width: 100%;
  }

  .blog_mini_text {
    -webkit-text-size-adjust: 100%;
    --scrollbar-width: 21px;
    font-family: montserrat, montserrat_fallback, sans-serif;
    text-rendering: optimizeLegibility !important;
    cursor: pointer;
    color: #000;
    font-size: 0.875rem;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    overflow: hidden;
    padding: 0.75em;
  }

  .blog_mini_texttitle {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 0.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 auto;
    line-height: 1.125em;
    max-height: 3.375em;
  }

  .blog_mini_textreview {
    font-size: 0.875rem;
    flex: 1 1 auto;
    margin-bottom: 0.5em;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
  }

  .blog_mini_textread {
    font-size: 0.875rem;
    color: #00a39b;
    display: block;
    flex: 0 0 auto;
    font-weight: 700;
  }
}

body.modal-open {
  padding-right: 0 !important;
}

.loginModal {
  .loginModalBtn {
    background-color: $subjectBG;
    border-color: $subjectBG;
    &:active {
      color: $subjectBG;
    }
  }
  .joinBtn {
    background-color: $logo;
    border-color: $logo;
    &:active {
      color: $logo;
    }
  }
  .loginFooter {
    background-color: $secondWhite;
  }
  button:not(.closeModal) {
    width: calc(100% - 1.75rem);
    display: block;
    margin: auto;

    border-radius: 5px;
    transition: none;
    &:active {
      background-color: white;
      border-color: inherit;
    }
  }
  .loginDialog {
    position: relative;
    top: 20%;
  }
  .modalHeading {
    font-size: 1.7em;
    color: $colorPrimary;
    text-align: center;
    margin-inline: 20px;
    line-height: 1;
  }
  .loginHeader {
    background-color: $navPrimary;
  }
  input {
    border-radius: 5px;
    outline: none;
    &:focus {
      border-color: $logo;
      box-shadow: none;
    }
    &::placeholder {
      color: grey;
      font-size: 0.8em;
    }
  }
  a {
    color: $navPrimary;
    text-decoration: underline;
  }
  .forgot {
    font-size: 0.8em;
    margin-block: 0.6em;
  }
  .form-terms {
    font-size: 0.7em;
  }
  .closeModal {
    top: 4px;
    right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    padding: 7px;
    background: red;
    opacity: 1;
    color: $logo2;
    border-radius: 0 20px 0 20px;
  }
}

#abcs-tab {
  .gv-title-buttons {
    display: flex;
    /* height: 4em; */
    justify-content: center;
    margin-left: 0rem;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
  }
  .gv-title-buttons-container {
    display: inline-flex;
    margin: 0 1rem 1rem 0;
  }
  .button-dimensional-icon {
    align-items: center;
    background-color: transparent;
    color: #fff;
    display: flex;
    font-size: 1.75rem;
    overflow: visible;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
  }
  .button-dimensional-icon:before {
    border-radius: 1em;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 3.5rem;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .button-dimensional-icon.adfree:before {
    background-color: #e00a23;
  }
  .button-dimensional-icon.adfree:after {
    background-image: url(../images/iconAdsfree-gameDetail.svg);
  }
  .button-dimensional-icon:after {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 4.5rem;
    order: 1;
    position: relative;
    width: 4.25rem;
  }
  .button-dimensional-icon span {
    align-items: center;
    display: inline-flex;
    order: 2;
    padding: 0 1em 0 0.5em;
    position: relative;
  }
  [type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    border: none;
    box-shadow: none;
  }
  .button-dimensional-icon.fullscreen:after {
    background-image: url(../images/iconFullscreen-gameDetail.svg);
  }
  .button-dimensional-icon.fullscreen:before {
    background-color: #e0680e;
  }
  .button-dimensional-icon.favorite:after {
    background-image: url(../images/iconFavorite-gameDetail.svg);
  }
  .button-dimensional-icon.favorite:before {
    background-color: #16c41f;
  }

  .gameDetailContainer {
    * {
      background-color: transparent !important;
    }
    background-color: transparent;
    padding: 2rem;
    max-width: 1280px;
    height: 720px;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    position: relative;
    iframe {
      background-color: transparent;
      position: absolute;
      border: none;
      transform: translateX(10px) (-50%);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-inline: 2rem;
    }
  }
  body[data-theme="default"] {
    background-color: transparent !important;
  }
  .EmbedLayout .App__Main {
    background-color: transparent !important;
  }
}

@media (min-width: 576px) {
  #abcs-tab {
    .gv-title-buttons {
      flex-direction: row;
    }
  }
  #Contact {
    .mapContainer {
      padding-bottom: 8rem !important;
    }
  }
  header {
    .navbar {
      a,
      button {
      }

      a.navbar-brand {
        padding: 5px;
        margin: 0;
        box-sizing: border-box;
        width: 130px;
        height: 50px;
        background-position: 56% 50%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .navSmall {
        & > * {
          padding-inline: 10px;
        }
        div.dropdown {
          width: min-content;
          a[role="button"] {
            display: inline-block !important;
            font-size: 1em;
            padding-inline: 0.9em;
            background-color: $navPrimary;
            color: $textColor;
            border-radius: 30px;
            border: 1px #12cca8;
            box-sizing: border-box;
            svg {
              line-height: 1 !important;
            }
          }
          a.show {
            color: $navPrimary !important;
            background-color: $textColor;
          }
          .dropdown-menu {
            border-radius: 0;
            border-image: none;
            border: none;
            font-size: inherit;
            width: 100vw;
            top: 100%;
            left: -0%;
            border: none;
            height: 0px !important;
            overflow-y: hidden;
            transition: height 0.3s ease !important;
            display: block !important; // required to make dropdown transitionable
            > *:nth-child(odd) {
              background-color: $navSecond;
            }
            > *:nth-child(even) {
              background-color: $navPrimary;
            }
            > * > a {
              background-color: inherit !important;
              padding-block: 1rem;
              line-height: 1;
              text-align: center;
            }
          }
          .show.dropdown-menu {
            height: 136px !important;
          }
          a {
            &::after {
              display: none;
            }
          }
        }
        div.searchBoxSmall {
          p > button {
            border-radius: 30px;
            border: 1px $navPrimary;
            padding-inline: 0.9em;
          }

          p > button.btn[aria-expanded="false"] {
            background-color: $navPrimary !important;
            color: $colorPrimary;
            text-shadow: 0 0.1rem 0.1rem rgba(77, 77, 77, 0.5);
          }
          p > button.btn[aria-expanded="true"] {
            color: $navPrimary !important;
            background-color: $colorPrimary !important;
            text-shadow: none;
          }
          form {
            background-color: $colorPrimary;
            align-items: center;
            z-index: 2;
            button {
              background-color: initial !important;
              background-color: $colorPrimary !important;
              width: 40px;
              height: 100%;
            }
            input {
              outline: none;
              flex-grow: 1;
            }
            svg {
              color: $buttonPrimary;
            }
          }
        }
      }
      .navBig {
        li {
          padding-inline: 1rem;
        }
        input,
        button {
          outline: none;
          background-color: $colorPrimary;
          border: none;
          border-radius: 0;
          font-size: 1em;
          box-sizing: border-box;
          padding-block: 17px;
          box-shadow: none;
          text-shadow: none;
        }
        input {
          width: 20vw;
        }
        svg {
          color: $buttonPrimary;
          font-size: 1.2em;
        }
      }
    }
  }
  #faq {
    .content-search-form {
      max-width: 50% !important;
    }
    .pt-nav {
      display: flex;
      flex-flow: row;
      justify-content: center;
      flex-wrap: wrap;
      overflow: hidden;
    }
  }
  #commonCore {
    h1 {
      font-size: 4rem;
    }
    .content-search-form {
      padding: 0;
      text-align: center !important;
    }
    .search-clear,
    .search-submit {
      align-content: center;
      align-items: center;
      background: transparent;
      box-sizing: border-box;
      display: flex;
      height: calc(100% - 0.25rem);
      justify-content: center;
      position: absolute;
      top: -4px;
    }
    .button-flat-color.pt-standards {
      text-decoration: none;
      background-color: #8fc900;
      border-color: #8fc900;
      font-size: 1.6rem;
      padding: 1rem;
      margin-bottom: 1rem;
      /* width: 100%; */
      width: 300px;
    }
    .toggle-title-container {
      padding: 1em 1.5em;
    }
    .toggle-title-container.child {
      padding-left: 2em;
    }
    .toggle-title.child .toggle-title-text {
      font-size: 0.95em;
    }
  }
}

//ng-view animation
// html {
//   .view-animate-container {
//     position: relative;
//     // height:!important;
//     background: inherit;
//     // border:1px solid black;
//     // height:40px;
//     overflow: hidden;
//   }

//   .view-animate {
//     // padding:10px;
//   }

//   .view-animate.ng-enter,
//   .view-animate.ng-leave {
//     transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s;

//     display: block;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     // padding:10px;
//   }

//   .view-animate.ng-enter {
//     left: 100%;
//   }
//   .view-animate.ng-enter.ng-enter-active {
//     left: 0;
//   }
//   .view-animate.ng-leave.ng-leave-active {
//     left: -100%;
//   }
// }

@media (min-width: 768px) {
  header {
    font-size: 1.8rem;
    .navbar {
      a,
      button {
      }

      a.navbar-brand {
        padding: 5px;
        margin: 0;
        box-sizing: border-box;
        width: 185px;
        height: 70px;
        background-image: url(../images/HomePage/logo02.png);
        background-position: 56% 50%;
        background-size: 90% 98%;
        background-repeat: no-repeat;
      }
      .navSmall {
        & > * {
        }
        div.dropdown {
          a[role="button"] {
            padding-block: 0.7em;
            padding-inline: 1.2em;
            line-height: 1.2 !important;
            svg {
            }
          }
          a.show {
          }
          .dropdown-menu {
            > *:nth-child(odd) {
            }
            > *:nth-child(even) {
            }
            > * > a {
              padding-block: 1em;
            }
          }
          .show.dropdown-menu {
            height: 215px !important;
          }
          a {
            &::after {
            }
          }
        }
        div.searchBoxSmall {
          p > button {
            padding-block: 0.7em;
            padding-inline: 1.2em;
            line-height: 1.1;
          }
          p > button.btn {
          }
          p > button.btn.collapsed {
          }
          form {
            button:hover {
            }
            input {
            }
            svg {
            }
          }
        }
      }
      .navBig {
        li {
        }
      }
    }
  }
  .containerParent.one {
    div.container-fluid.one {
      div.row {
        div.col {
        }
        a {
          width: 82px;
          height: 82px;
          margin: 8px;
        }
        a.sun {
        }
        a.pink {
        }
        a.yellow {
        }
        a.red {
        }
        a.blue {
        }
        a.green {
        }
        a.magenta {
        }
        a.orange {
        }
        a.cyan {
        }
        a.printables-planet {
          span {
            line-height: 1.4;
            font-size: 0.9em;
            font-weight: 800;
            color: $backgroundColorPrimary;
          }
        }
      }
    }
  }
  .owl-carousel {
    /* Custom styles for the navigation buttons */
    .owl-nav {
      button {
        span {
          font-size: 2.7em;
          width: 26px;
        }
        &.owl-next {
          padding: 10px 0px 10px 5px !important;
          span {
          }
        }

        &.owl-prev {
          padding: 10px 5px 10px 0px !important;

          span {
          }
        }
      }
    }
    .owl-dots {
      display: none;
      /* Style the navigation dots */
      .owl-dot {
        width: 12px; /* Set the width of the dots */
        height: 12px; /* Set the height of the dots */
        background-color: #ccc; /* Set the default background color */
        margin: 0 5px; /* Adjust the spacing between dots */
        border-radius: 50%; /* Create circular dots */
        cursor: pointer; /* Add a pointer cursor on hover */
      }

      /* Style the active dot */
      .owl-dot.active {
        background-color: $logo; /* Change the background color for the active dot */
      }
    }
  }
  #hero {
    .slider {
      font-size: 1.2em;
      .item {
        height: 260px !important;
        width: 180px !important;
        border-radius: 14px;
        margin-right: 15px;
      }

      img {
        border-radius: 14px;
      }

      .minibanner-label-type {
        width: 24px;
        height: 24px;
      }
      .minibanner-label-grades {
        padding-top: 0.4em;
      }
      .mblt-text {
      }
      .minibanner-label {
      }
    }
    .subjects {
      .item {
        height: 230px !important;
      }
    }
    .genre {
      .item {
        height: 230px !important;
      }
    }
  }
  #Contact {
    .contactTittle {
      font-size: 6rem;
    }
    #map,
    .Address {
      height: 350px;
    }
  }
  #faq {
    h1 {
      font-size: 5rem;
    }
    .content-search-form {
      max-width: 50%;
    }
    .pt-nav button {
      margin: 0.25rem;
      color: #fff;
      min-width: 13rem;
    }
    .faq .pt-nav .button-flat-color {
      font-size: 1.25rem;
    }
  }
  #commonCore {
    .content-search-form {
      padding: 0;
      text-align: center !important;
      width: 45rem;
    }
    html {
      font-size: 16px;
    }
    .menu-select {
      display: flex;
      text-align: center;
    }
  }
}

@media (min-width: 992px) {
  header {
    .navbar {
      a,
      button {
      }

      a.navbar-brand {
        padding: 5px;
        margin: 0;
        box-sizing: border-box;
        width: 205px;
        height: 64px;
        background-image: url(../images/HomePage/Logo02.png);
        background-position: 56% 50%;
        background-size: 81% 100%;
        background-repeat: no-repeat;
      }
      .navSmall {
        div.searchBoxSmall {
          p > button {
            padding-block: 0.7em;
            padding-inline: 1.2em;
            line-height: 1.1;
          }
          p > button.btn {
          }
          p > button.btn.collapsed {
          }
          form {
            button:hover {
            }
            input {
            }
            svg {
            }
          }
        }
      }
      .navBig {
        li {
        }
      }
    }
  }
  #hero {
    .containerParent.one {
      padding-top: 225px !important;

      div.container-fluid.one {
        max-width: 992px;
        margin: auto;
        div.row {
          position: relative;
          div.first {
            padding-left: 4rem !important;
          }
          div.second {
            padding-left: 10rem !important;
          }
          line-height: 0;
          a {
            width: 112px;
            height: 112px;
            margin: 14px;
          }
          a.sun {
            background-image: url(../images/HomePage/sunGlowing.webp);
            transform: scale(2);
            position: absolute;
            top: -175px;
            left: 110px;
          }
          a.pink {
          }
          a.yellow {
          }
          a.red {
          }
          a.blue {
          }
          a.green {
          }
          a.magenta {
          }
          a.orange {
          }
          a.cyan {
          }
          a.printables-planet {
            transform: scale(1.1);
            span {
              line-height: 1.4;
              font-size: 1em;
              font-weight: 800;
              color: $backgroundColorPrimary;
            }
            position: absolute;
            top: -170px;
            left: 360px;
          }
        }
      }
    }
    .billBoard-video {
      top: -149px;
      left: 613px;
      transform: scale(0.9);
      width: 343px;
      border-radius: 7px;
    }
    .monitor {
      top: -205px;
      left: 568px;
      transform: scaley(0.65);
    }
  }
  #Contact {
    .LogoText {
      border-radius: 10px;
      color: white;
      background-color: rgb(18, 204, 168);
      padding-block: 0.6em;
      width: 800px;
      margin: auto;
    }
    .Address {
      // border-right: 1px solid lightgrey;
    }
    #map,
    .Address {
      height: unset;
      transition: width 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .addressHead {
      width: 95%;
    }
    #map.exp {
      width: 100% !important;
    }
    .Address.coll {
      width: 0%;
      overflow: hidden;
    }
  }
  #faq {
    h1 {
      font-size: 6rem;
    }
    .content-search-form {
      max-width: 40%;
    }
    .faq .pt-nav .button-flat-color {
      font-size: 1.25rem;
    }
  }
}
@media (min-width: 1200px) {
  #hero {
    .containerParent.one {
      padding-top: 275px !important;

      div.container-fluid.one {
        max-width: 1200px;
        height: 280px;
        margin: auto;
        div.row {
          position: relative;
          .milkyway {
            display: block;
            height: 373px;
            left: -62px;
            top: -164px;
            width: 1094px;
          }
          div.first {
            padding-left: 4rem !important;
          }
          div.second {
            padding-left: 10rem !important;
          }
          line-height: 0;
          a {
            position: absolute;
          }
          a.sun {
            background-image: url(../images/HomePage/sunGlowing.webp);
            transform: scale(2);
            position: absolute;
            top: -210px;
            left: 55px;
          }
          a.pink {
            top: -215px;
            left: 260px;
          }
          a.yellow {
            top: -215px;
            left: 410px;
          }
          a.red {
            top: -50px;
            left: 335px;
          }
          a.blue {
            top: -50px;
            left: 490px;
          }
          a.green {
            top: -50px;
            left: 645px;
          }
          a.magenta {
            top: 115px;
            left: 560px;
          }
          a.orange {
            top: 110px;
            left: 710px;
          }
          a.cyan {
            top: 110px;
            left: 860px;
          }
          a.printables-planet {
            transform: scale(1.1);
            span {
              line-height: 1.4;
              font-size: 1em;
            }
            top: 67px;
            left: 60px;
          }
        }
      }
    }
    .billBoard-video {
      top: -204px;
      left: 814px;
      width: 342px;
    }
    .monitor {
      top: -200px;
      left: 600px;
    }

    .slider {
      .list-title {
        font-size: 1.4em;
        font-weight: 800;
        font-size: 1.6em;
      }
    }

    .monitor {
      top: -260px;
      left: 770px;
    }
  }
  #Contact {
    #map,
    .Address {
      // height: 470px;
    }
  }
  #faq {
    .content-search-form {
      max-width: 25%;
    }
  }
}

@media (min-width: 1440px) {
  #hero {
    .billBoard-video {
      top: -206px;
      left: 904px;
      width: 343px;
      scale: 1.4;
    }
    .monitor {
      top: -260px;
      left: 860px;
      scale: 1.4;
    }
    .slider {
      .list-title {
        font-weight: 800;
      }
      .item {
        height: 280px !important;
        width: 200px !important;
      }
      div.owl-stage {
        width: 200vw !important;
      }
    }
    .grammar {
      .owl-nav {
        // display: none !important;
      }
    }
  }
}

@media (min-width: 1920px) {
}

//Van Linh
html {
  footer {
    --primary-color: #ffaa00;
    --secondary-color: #e0680e;
    font-size: 1.5em;
  }

  .footer-one h1 img {
    width: 420px !important;
    height: 220px;
    padding-top: 1rem;
  }

  .footer-two a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: lighter;
  }

  .footer-two a:hover {
    text-decoration: underline;
    color: var(--primary-color);
  }

  .footer-one span {
    font-size: 3rem;
  }

  .footer-one h2 {
    letter-spacing: 4px;
  }

  .footer-two {
    background-color: var(--secondary-color);
    white-space: nowrap; /* Corrected spelling */
    border-radius: 1rem;
    box-shadow: 0 0.35rem 0 0 #f02f09cc;
  }

  /* Corrected selector and added a condition */
  .footer-two-list:not(.some-class) {
    font-size: 1.3rem;
  }

  .containerParent_1 {
    border-top: 5px solid #ffc41d;
    background-color: var(--primary-color);
  }

  .footer-one-logo {
    gap: 4rem;
  }

  .footer-one h6 {
    color: var(--secondary-color);
  }

  .font-color {
    color: white;
  }

  .footer-three h4 {
    color: var(--secondary-color);
  }
  .abc-nav-container {
    flex-wrap: wrap;
    > a {
      padding: 1.2rem;
      white-space: nowrap;
    }
  }
  @media (width <= 576px) {
    .footer-one {
      display: none;
    }
    .containerParent_2 {
      display: none;
    }
    .abc-nav-container {
      display: none !important;
    }
  }

  @media (min-width: 768px) {
    .footer-two-list:not(.some-class) {
      font-size: 1.8rem !important;
    }
  }
}
